.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

    justify-content: space-between;
}
.dialogsItems {
    padding: 10px;

}
.messages {
    padding: 20px;
}

.area {
    text-align: right;
}

textarea {
border: none;
border-radius: 5px;

width: 300px;
}